.contact {
    margin-top: 260px;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
}

.contact-content {
    // width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    color: var(--Neutral-black, #000);
font-family: Urbanist;
font-size: 74px;
font-style: normal;
font-weight: 500;
line-height: 110%;
text-align: center;
max-width: 816px;
width: 100%;
}

.contact-text {
    color: rgba(0, 0, 0, 0.73);
text-align: center;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 36.4px */
margin-top: 15px;
margin-bottom: 60px;
max-width: 770px;
width: 100%;
}

.contact-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--Neutral-white, #FFF);
    /* buttons */
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
    // background: none;
    cursor: pointer;
    padding: 4px 4px 4px 24px;
    z-index: 1;

    // border-radius: 100px;
    // border-radius: 8px;
    // border: 1px solid #fff;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    background: #000;

    transition: ease-in-out 300ms all;
    @media screen and (max-width: 480px) {
        width: 100%;
        justify-content: space-between;   
    }
}

.contact-btn span {
    display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 100px;
  background: #A2FBD7;
  padding: 10px;
}

.contact-btn:hover {
    color: #fff;
    background: #2B2B2B;
}