.footer {
    margin-top: 150px;
    border-radius: 50px 50px 0 0;
background: var(--Neutral-black, #000);
padding: 43px 0px 12px 0;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 480px) {
        flex-direction: column;   
        justify-content: center;
        gap: 40px;
        border-bottom: unset !important;
        padding-bottom: unset !important;
    }
}

// .footer-line:last-child {
//     @media screen and (max-width: 480px) {
//         display: flex;
//     }
// }

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (max-width: 480px) {
        align-items: center;   
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        width: 100%;
    }
}

.footer-contact {
    color: rgba(255, 255, 255, 0.90);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 24px */
text-transform: uppercase;
}

.footer-email {
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 33.6px */
}

.footer-address {
    color: rgba(255, 255, 255, 0.90);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 22.4px */
max-width: 311px;
width: 100%;
}

.copyright {
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
}

.privacy {
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
}