.hero {
    margin-top: 115px;
    position: relative;
}

.hero .container {
    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    @media screen and (max-width: 480px) {
        display: none;    
    }
}

.hero-img-mobile {
    display: none;
    @media screen and (max-width: 480px) {
         display: block;
         position: absolute;
         top: 50px;
         left: 0;
         z-index: -1;
         width: 100%;
         object-fit: cover;
         padding-left: clamp(20px, 5vw, 48px);
         padding-right: clamp(20px, 5vw, 48px);
    }
}

.hero-line {
    padding-top: 50px;
    display: flex;
    align-items: flex-end;
    gap: 15px;
    @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;       
    }
}

.hero-suptext {
    color: var(--Neutral-black, #000);
    text-align: center;
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 30.8px */
    padding-bottom: 18px;
    @media screen and (max-width: 480px) {
        font-size: 20px;       
    }
}

.hero-title {
    color: var(--Neutral-black, #000);
    // text-align: center;
    font-family: Urbanist;
    font-size: 118px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 129.8px */
    // max-width: 960px;
    // width: 100%;
    @media screen and (max-width: 480px) {
        font-size: 60px;   
        text-align: center;
        max-width: 332px;
    }
}

.hero-subtitle {
    color: var(--Neutral-white, #FFF);
    font-family: Urbanist;
    font-size: 118px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-top: 32px;
    @media screen and (max-width: 480px) {
        margin-top: 0px;
        font-size: 60px;
        text-align: center;      
    }   
}

.hero-text {
    color: rgba(255, 255, 255, 0.90);
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 36.4px */
    max-width: 626px;
    margin: 60px 0 40px 0;
    @media screen and (max-width: 480px) {
        text-align: center;  
        margin: 40px 0 30px 0; 
    }
}

.hero-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--Neutral-white, #000);
    /* buttons */
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
    // background: none;
    cursor: pointer;
    padding: 4px 4px 4px 24px;
    z-index: 1;

    // border-radius: 100px;
    // border-radius: 8px;
    // border: 1px solid #fff;
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.28);
    background: #fff;

    transition: ease-in-out 300ms all;
    @media screen and (max-width: 480px) {
        width: 86%;
        justify-content: space-between;
    }
}

.hero-button span {
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 100px;
    background: #A2FBD7;
    padding: 10px;
  }

.hero-button:hover {
    border: 2px solid #A2FBD7;
}