.point {
    margin-top: 110px
}

.point-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    padding-left: clamp(20px, 5vw, 48px);
    padding-right: clamp(20px, 5vw, 48px);
    @media screen and (max-width: 480px) {
        display: none;       
    }
}

.point-mobile {
    display: none;
    @media screen and (max-width: 480px) {
        display: block;
        position: absolute;
        width: 100%;
        height: 110%;
        top: 0;
        left: 0;
        z-index: -1;          
    }
}

.point-wrapper {
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 480px) {
        flex-direction: column;  
        justify-content: unset;     
    }
}

.point-block {
    width: 50%; 
    border-radius: 32px;
    background: var(--Neutral-white, #FFF);
    padding: 24px;
    margin: 24px;
    @media screen and (max-width: 480px) {
        width: 100%;    
        margin: 110px 0 0 0;   
    }
}

.point-suptitle {
    border-radius: 90px;
    border: 1px solid var(--neutral-grey-light, #CCC);
    color: var(--Neutral-black, #000);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    display: inline-block;
    padding: 12px 18px;
}

.point-title {
    color: var(--Neutral-black, #000);
font-family: Urbanist;
font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 61.6px */
margin: 15px 0;
@media screen and (max-width: 480px) {
    max-width: 284px;           
}
}

.point-text {
    color: var(--Neutral-black, #000);
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 30.8px */
margin-bottom: 52px;
@media screen and (max-width: 480px) {
    max-width: 284px;           
}
}

.point-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    @media screen and (max-width: 480px) {
        gap: 18px;    
    }   
}

.point-item:not(:last-child) {
    border-bottom: 1px solid #CCC;
    padding-bottom: 13px;
    @media screen and (max-width: 480px) {
        padding-bottom: 18px;       
    }
}

.point-item-title {
    color: rgba(0, 0, 0, 0.80);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 22px */
margin-bottom: 15px;
@media screen and (max-width: 480px) {
    max-width: 254px;           
}
}

.point-item-text {
    color: rgba(0, 0, 0, 0.80);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 17.6px */
}

